node_red_flow/node-red-flow.txt
[{"id":"5209d5eb.16401c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"f897a9f5.98d928","type":"ui_button","z":"5209d5eb.16401c","name":"Centro","group":"408ab927.bd2d48","order":5,"width":"6","height":"1","passthru":false,"label":"<i class=\"fa fa-pause fa-lg\" aria-hidden=\"true\"></i>","tooltip":"","color":"","bgcolor":"","icon":"","payload":"90","payloadType":"str","topic":"","x":150,"y":120,"wires":[["8bb4292b.b2d3d8"]]},{"id":"7925c80d.ac4888","type":"ui_button","z":"5209d5eb.16401c","name":"Izquierda","group":"408ab927.bd2d48","order":6,"width":"3","height":"1","passthru":false,"label":"<i class=\"fa fa-angle-left fa-2x\" aria-hidden=\"true\"></i>","tooltip":"","color":"","bgcolor":"","icon":"","payload":"108","payloadType":"str","topic":"","x":160,"y":200,"wires":[["1f29e9d3.adcf76"]]},{"id":"cf69fe54.a7dc9","type":"ui_button","z":"5209d5eb.16401c","name":"Derecha","group":"408ab927.bd2d48","order":6,"width":"3","height":"1","passthru":false,"label":"<i class=\"fa fa-angle-right fa-2x\" aria-hidden=\"true\"></i>","tooltip":"","color":"","bgcolor":"","icon":"","payload":"72","payloadType":"str","topic":"","x":160,"y":160,"wires":[["f41a38ac.7069e8"]]},{"id":"f7c451cd.984b9","type":"ui_button","z":"5209d5eb.16401c","name":"Rapido/Adelante","group":"364d423c.92c31e","order":1,"width":0,"height":0,"passthru":false,"label":"<i class=\"fa fa-arrow-up\" aria-hidden=\"true\"></i><i class=\"fa fa-level-up\" aria-hidden=\"true\"></i><i class=\"fa fa-level-up\" aria-hidden=\"true\"></i>","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":190,"y":340,"wires":[["7fe8ea5c.ed5734"]]},{"id":"743ba1a4.4ff44","type":"ui_button","z":"5209d5eb.16401c","name":"Medio/Adelante","group":"364d423c.92c31e","order":2,"width":0,"height":0,"passthru":false,"label":"<i class=\"fa fa-arrow-up\" aria-hidden=\"true\"></i><i class=\"fa fa-level-up\" aria-hidden=\"true\"></i>","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":180,"y":380,"wires":[["1c69a338.1afbbd"]]},{"id":"f93fdf66.361eb","type":"ui_button","z":"5209d5eb.16401c","name":"Rapido/Atras","group":"364d423c.92c31e","order":5,"width":0,"height":0,"passthru":false,"label":"<i class=\"fa fa-arrow-down\" aria-hidden=\"true\"></i><i class=\"fa fa-level-down\" aria-hidden=\"true\"></i><i class=\"fa fa-level-down\" aria-hidden=\"true\"></i>","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":170,"y":500,"wires":[["63857cbc.223af4"]]},{"id":"caa51f0d.99101","type":"ui_button","z":"5209d5eb.16401c","name":"Medio/Atras","group":"364d423c.92c31e","order":4,"width":0,"height":0,"passthru":false,"label":"<i class=\"fa fa-arrow-down\" aria-hidden=\"true\"></i><i class=\"fa fa-level-down\" aria-hidden=\"true\"></i>","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":170,"y":460,"wires":[["3f5d6e4e.2e1082"]]},{"id":"f7eec93f.b40428","type":"function","z":"5209d5eb.16401c","name":"LoadCV","func":"var require = global.get('require');\nif (!require){\n    node.error(\"require not found in globals - see https://btsimonh.wordpress.com/node-opencv-with-node-red/ for installation notes\")\n    return;\n}\n\n// look for globally installed opencv\nvar cv = null\ntry{\n    cv = require.main.require('opencv');\n} catch(e){\n    cv = require('opencv');\n}\n\nvar cvdesc = Object.keys(cv);\nnode.send([null, {payload:cvdesc}]);\nflow.set('cv', cv);\n\nnode.send({payload:1});\nnode.send({payload:'next'});\n","outputs":"2","noerr":0,"x":440,"y":620,"wires":[["957002c0.8a147"],[]]},{"id":"957002c0.8a147","type":"function","z":"5209d5eb.16401c","name":"GetImage","func":"//Check Stop or Start\nif (msg.payload === 0){\n    flow.set('state', 'stop');\n    setTimeout(function(){\n        var vid = flow.get('cvvid');\n        if (vid){\n            node.warn(util.inspect(vid));\n            vid.release();\n            flow.set('cvvid', null);\n            delete vid;\n        }\n    }, 200);\n}\nif (msg.payload === 1){\n try{\n     flow.set('state', 'run');\n     flow.set('start', null);\n     flow.set('count', null);\n     flow.set('last_s', null);\n    \n     var cv = flow.get('cv');\n     var timings = flow.get('timings') || {};\n     timings.startup = {};\n     timings.startup.start = Date.now();\n     var vid = new cv.VideoCapture(0);\n     var fps = vid.setFPS(5);\n     node.warn(fps);\n     timings.startup.end = Date.now();\n     timings.startup.diff = timings.startup.end - timings.startup.start;\n     \n     node.warn(vid);\n     flow.set('cvvid', vid);\n } catch (e){\n     node.warn(e);\n }\n}\n\nif (msg.payload === 'ack'){\n var timings = flow.get('timings');\n timings.imagecidiff = context.imageci - msg.imageci;\n return;\n}\n\n\nif (msg.payload === 'next'){\n var vid = flow.get('cvvid');\n \n if (vid){\n     try{\n         vid.read(function(err, im){\n             try{\n                var state = flow.get(\"state\");\n                switch(state){\n                    case 'stop':\n                \n                        node.warn(util.inspect(vid));\n                        vid.release();\n                        flow.set('cvvid', null);\n                        delete vid;\n                        return;\n                    break;\n                    default:\n                        break\n                }\n                \n                if (err) {\n                    node.warn(\"read \" + util.inspect(err) + \" \"+util.inspect(im));\n                    return;\n                }\n                 \n                if ((im.size()[0] === 0) && (im.size()[1] === 0)){\n                    node.warn(\"image has zero width or height\");\n                    return;    \n                }\n             \n                msg.camera = im;\n                msg.flowstarttime = new Date();\n\n                context.lasttime = context.lasttime || 0;\n\n                node.send([null, {payload:0}, null]);\n\n                var frametime = Date.now();\n                if (context.lasttime){\n                    node.send([null, null, {payload:frametime - context.lasttime, topic:\"inputframeinterval\"}]);\n                }\n                context.lasttime = frametime;\n                \n                node.send(msg);\n             } catch(e){\n                node.warn(e);\n             }\n         });\n     } catch (e){\n         node.warn(e);\n     }\n }\n}\n","outputs":"3","noerr":0,"x":340,"y":720,"wires":[["c42b25d5.839b78"],["876593d0.c3062"],[]]},{"id":"876593d0.c3062","type":"function","z":"5209d5eb.16401c","name":"GetNextFrame","func":"setTimeout(function(){\n node.send({payload:'next'});\n}, 10);\nreturn;","outputs":1,"noerr":0,"x":340,"y":800,"wires":[["957002c0.8a147"]]},{"id":"c42b7665.3003e8","type":"multipart-encoder","z":"5209d5eb.16401c","name":"","statusCode":"","ignoreMessages":true,"outputOneNew":true,"outputIfSingle":false,"outputIfAll":false,"globalHeaders":{"Content-Type":"multipart/x-mixed-replace;boundary=myboundary","Connection":"keep-alive","Expires":"Fri, 01 Jan 1990 00:00:00 GMT","Cache-Control":"no-cache, no-store, max-age=0, must-revalidate","Pragma":"no-cache"},"partHeaders":{"Content-Type":"image/jpeg"},"destination":"all","highWaterMark":16384,"x":780,"y":820,"wires":[["e6f8cf11.48d8e"]]},{"id":"12379d51.acf723","type":"http in","z":"5209d5eb.16401c","name":"","url":"/test2","method":"get","upload":false,"swaggerDoc":"","x":620,"y":820,"wires":[["c42b7665.3003e8"]]},{"id":"e6f8cf11.48d8e","type":"function","z":"5209d5eb.16401c","name":"","func":"flow.set('enableavg', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":820,"wires":[[]]},{"id":"e270ac5c.52d8e","type":"function","z":"5209d5eb.16401c","name":"encodetojpg","func":"var enable = flow.get('enableavg');\n\nif (1){\n    var av = msg.camera;\n    var d = av.toBuffer();\n    var newmsg = {\n        payload: d\n    };\nnode.send(newmsg);\n}\n","outputs":1,"noerr":0,"x":850,"y":700,"wires":[["c42b7665.3003e8"]]},{"id":"74344313.5deb1c","type":"function","z":"5209d5eb.16401c","name":"Variables","func":"\nflow.set(\"area\", 200);\nflow.set(\"width\", 320);\nflow.set(\"height\", ((flow.get('width')*3/4/2)>>0)*2);\n\nvar timings = {};\nflow.set('timings', timings);\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":620,"wires":[["f7eec93f.b40428"]]},{"id":"c42b25d5.839b78","type":"function","z":"5209d5eb.16401c","name":"resize","func":"\nvar starttime = new Date();\nvar AfterResize = function(err, img){\n    try{\n    var resizetime = (new Date()) - starttime;\n    node.send([null, {payload:resizetime, topic:\"resizetime\"}]);\n    msg.img = img;\n    node.send([msg, null]);\n    } catch (e) {\n        node.warn(e);\n    }\n};\n\ntry{\nvar Async = true;\nif (Async){\n    // note - generates a new image\n    msg.camera.resize(flow.get('width'), flow.get('height'), AfterResize);\n} else {\n    // sync - note - modifies the input image\n    msg.camera.resize(flow.get('width'), flow.get('height'));\n    AfterResize(null, msg.camera);\n}\n} catch (e) {\n    node.warn(e);\n}\n\n","outputs":"2","noerr":0,"x":510,"y":700,"wires":[["53b85df5.7a6c54"],[]]},{"id":"fbca17e.758dbe8","type":"function","z":"5209d5eb.16401c","name":"split","func":"node.send([msg, null]);\nnode.send([null, msg]);\n","outputs":"2","noerr":0,"x":710,"y":700,"wires":[["e270ac5c.52d8e"],[]]},{"id":"53b85df5.7a6c54","type":"function","z":"5209d5eb.16401c","name":"split","func":"node.send([msg, null]);\nnode.send([null, msg]);\n","outputs":"2","noerr":0,"x":610,"y":700,"wires":[[],["fbca17e.758dbe8"]]},{"id":"7608b9dd.471678","type":"ui_template","z":"5209d5eb.16401c","group":"a8045b09.7b6ee8","name":"Visualizar Camara","order":0,"width":"0","height":"0","format":"<p align=\"center\"><iframe src=\"http://127.0.0.1:1880/test2\" width=\"640px\" height=\"480px\" scrolling=\"no\"> </iframe></p>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":690,"y":620,"wires":[[]]},{"id":"6174337e.e1b96c","type":"ui_button","z":"5209d5eb.16401c","name":"Stop","group":"a8045b09.7b6ee8","order":2,"width":"6","height":"1","passthru":false,"label":"<i class=\"fa fa-stop\" aria-hidden=\"true\"></i>","tooltip":"","color":"","bgcolor":"#F86565","icon":"","payload":"0","payloadType":"num","topic":"","x":150,"y":720,"wires":[["957002c0.8a147"]]},{"id":"97b4cef0.41781","type":"ui_button","z":"5209d5eb.16401c","name":"Start","group":"a8045b09.7b6ee8","order":1,"width":"7","height":"1","passthru":false,"label":"<i class=\"fa fa-play\" aria-hidden=\"true\"></i>","tooltip":"","color":"","bgcolor":"#64DE00","icon":"","payload":"1","payloadType":"num","topic":"","x":150,"y":620,"wires":[["74344313.5deb1c"]]},{"id":"31bf34d.32f1ccc","type":"rpi-gpio out","z":"5209d5eb.16401c","name":"","pin":"3","set":"","level":"0","freq":"50","out":"pwm","x":1140,"y":160,"wires":[]},{"id":"958fabde.9f84d8","type":"ui_button","z":"5209d5eb.16401c","name":"Hacia/Abajo","group":"10f489d5.e85466","order":7,"width":"3","height":"1","passthru":false,"label":"<i class=\"fa fa-share fa-lg\" aria-hidden=\"true\"></i>","tooltip":"","color":"","bgcolor":"","icon":"","payload":"10","payloadType":"str","topic":"","x":770,"y":120,"wires":[["8f4eec00.8e231"]]},{"id":"28f1e164.ed7d8e","type":"ui_button","z":"5209d5eb.16401c","name":"Hacia/Arriba","group":"10f489d5.e85466","order":6,"width":"3","height":"1","passthru":false,"label":"<i class=\"fa fa-reply fa-lg\" aria-hidden=\"true\"></i>","tooltip":"","color":"","bgcolor":"","icon":"","payload":"8","payloadType":"str","topic":"","x":770,"y":180,"wires":[["1aa41581.21341a"]]},{"id":"8f4eec00.8e231","type":"trigger","z":"5209d5eb.16401c","op1":"10","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":940,"y":120,"wires":[["31bf34d.32f1ccc"]]},{"id":"1aa41581.21341a","type":"trigger","z":"5209d5eb.16401c","op1":"20","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":940,"y":180,"wires":[["31bf34d.32f1ccc"]]},{"id":"c1b41e57.4872","type":"ui_button","z":"5209d5eb.16401c","name":"Iniciar/Reset ESC","group":"364d423c.92c31e","order":3,"width":0,"height":0,"passthru":false,"label":"<i class=\"fa fa-retweet fa-lg\" aria-hidden=\"true\"></i>","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":190,"y":420,"wires":[["438ca327.dba87c"]]},{"id":"9ad758ce.115dc8","type":"comment","z":"5209d5eb.16401c","name":"Direccion-Servo 1","info":"Direccion de las ruedas delanteras","x":170,"y":40,"wires":[]},{"id":"d8815207.d695a","type":"comment","z":"5209d5eb.16401c","name":"Direccion-Servo 2","info":"Direccion de la camera frontal","x":750,"y":40,"wires":[]},{"id":"4ff70673.966a68","type":"comment","z":"5209d5eb.16401c","name":"Velocidad-Motor+ESC","info":"Control intensidad del motor y esc","x":180,"y":280,"wires":[]},{"id":"44074279.578ffc","type":"comment","z":"5209d5eb.16401c","name":"Stream","info":"Control del stream","x":130,"y":560,"wires":[]},{"id":"3684c65f.410cda","type":"debug","z":"5209d5eb.16401c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":380,"wires":[]},{"id":"5bbe1d03.f9d534","type":"debug","z":"5209d5eb.16401c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":420,"wires":[]},{"id":"ec44a37.d4d656","type":"debug","z":"5209d5eb.16401c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":460,"wires":[]},{"id":"438ca327.dba87c","type":"exec","z":"5209d5eb.16401c","command":"pigs s 16 1500","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":420,"y":420,"wires":[["3684c65f.410cda"],["5bbe1d03.f9d534"],["ec44a37.d4d656"]]},{"id":"1c69a338.1afbbd","type":"exec","z":"5209d5eb.16401c","command":"pigs s 16 1590","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":420,"y":360,"wires":[[],[],[]]},{"id":"7fe8ea5c.ed5734","type":"exec","z":"5209d5eb.16401c","command":"pigs s 16 1700","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":420,"y":300,"wires":[[],[],[]]},{"id":"3f5d6e4e.2e1082","type":"exec","z":"5209d5eb.16401c","command":"pigs s 16 1340","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":420,"y":540,"wires":[[],[],[]]},{"id":"63857cbc.223af4","type":"exec","z":"5209d5eb.16401c","command":"pigs s 16 1150","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":420,"y":480,"wires":[[],[],[]]},{"id":"35286bb4.e89004","type":"ui_button","z":"5209d5eb.16401c","name":"Parar P/P","group":"364d423c.92c31e","order":11,"width":0,"height":0,"passthru":false,"label":"<i class=\"fa fa-times\" aria-hidden=\"true\"></i>","tooltip":"","color":"","bgcolor":"#F86565","icon":"","payload":"0","payloadType":"str","topic":"","x":820,"y":420,"wires":[["46ca28d6.20a5a8"]]},{"id":"46ca28d6.20a5a8","type":"switch","z":"5209d5eb.16401c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":380,"wires":[["f92e60ff.c5c28"],["43fb3dd2.cdadb4"]]},{"id":"6b234237.5daf4c","type":"ui_button","z":"5209d5eb.16401c","name":"Iniciar P/P","group":"364d423c.92c31e","order":10,"width":0,"height":0,"passthru":false,"label":"<i class=\"fa fa-random\" aria-hidden=\"true\"></i>","tooltip":"","color":"","bgcolor":"#F89765","icon":"","payload":"1","payloadType":"str","topic":"","x":830,"y":340,"wires":[["46ca28d6.20a5a8"]]},{"id":"f92e60ff.c5c28","type":"exec","z":"5209d5eb.16401c","command":"bash /home/pi/velocidad.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1180,"y":340,"wires":[[],[],[]]},{"id":"43fb3dd2.cdadb4","type":"exec","z":"5209d5eb.16401c","command":"bash /home/pi/parar.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1170,"y":420,"wires":[[],[],[]]},{"id":"8bb4292b.b2d3d8","type":"exec","z":"5209d5eb.16401c","command":"pigs s 6 1790","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":360,"y":80,"wires":[["207f9d19.29c7d2"],[],[]]},{"id":"1f29e9d3.adcf76","type":"exec","z":"5209d5eb.16401c","command":"pigs s 6 1930","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":360,"y":200,"wires":[["207f9d19.29c7d2"],[],[]]},{"id":"f41a38ac.7069e8","type":"exec","z":"5209d5eb.16401c","command":"pigs s 6 1560","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":360,"y":140,"wires":[["207f9d19.29c7d2"],[],[]]},{"id":"207f9d19.29c7d2","type":"delay","z":"5209d5eb.16401c","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":550,"y":80,"wires":[["4e20ce08.104c4"]]},{"id":"4e20ce08.104c4","type":"exec","z":"5209d5eb.16401c","command":"pigs s 6 0","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":580,"y":180,"wires":[[],[],[]]},{"id":"408ab927.bd2d48","type":"ui_group","z":"","name":"Direccion","tab":"1a85195a.84d237","disp":true,"width":"6","collapse":false},{"id":"364d423c.92c31e","type":"ui_group","z":"","name":"Velocidad","tab":"1a85195a.84d237","disp":true,"width":"6","collapse":false},{"id":"a8045b09.7b6ee8","type":"ui_group","z":"","name":"Video-Camara","tab":"1a85195a.84d237","disp":true,"width":"13","collapse":false},{"id":"10f489d5.e85466","type":"ui_group","z":"","name":"Movimiento-Camara","tab":"1a85195a.84d237","disp":true,"width":"6","collapse":false},{"id":"1a85195a.84d237","type":"ui_tab","z":"","name":"Control Manual","icon":"dashboard","disabled":false,"hidden":false}]